body {
    background-color: #e3fbfc;
    background-image: url('https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: bottom;
    background-position-y: 80%;
    background-attachment: fixed;
}

